@model IEnumerable<Fitness20.Models.ExerciseType>

@{
    ViewData["Title"] = "ViewTypes";
}

<h1 class="text-center">View All Exercise Types</h1>
<div class="card-columns">
    @foreach (var item in Model)
    {
        <div class="card bg-info">
            <div class="card-body text-center">
                <p class="card-text">
                    <a class="font-weight-bolder text-black-50" asp-action="ViewExerciseByType" asp-route-id="@item.ExerciseTypeID">@item.ExerciseTypeName</a>
                </p>
            </div>
        </div>
    }
</div>
<h1 class="text-center"><a class="btn btn-success" asp-action="ViewAllExercises">View All Exercises</a></h1>
