@model IEnumerable<Fitness20.Models.Club>

@{
    ViewData["Title"] = "ViewAllClub";
}

<h1 class="text-center">View All Club</h1>



@foreach (var item in Model)
{
    <div class="card mb-1">
        <div class="card-header bg-primary"><h2>@Html.DisplayFor(modelItem => item.ClubName)</h2></div>
        <div class="card-body">
            <h4>Address</h4>
            <p>
                @Html.DisplayFor(modelItem => item.AddressLine1)
                <br />
                @Html.DisplayFor(modelItem => item.AddressLine2)
            </p>
            <h4>Contact No</h4>
            <p>
                @Html.DisplayFor(modelItem => item.ContactNo)
            </p>
        </div>

    </div>
}
