@model IEnumerable<Fitness20.Models.State>

@{
    ViewData["Title"] = "ViewStates";
}

<h1 class="text-center">View Club by States</h1>
<div class="card-columns">
    @foreach (var item in Model)
    {
        <div class="card bg-info">
            <div class="card-body text-center">
                <p class="card-text">
                    <a class="font-weight-bolder text-black-50" asp-action="ViewStateClub" asp-route-id="@item.StateID">@item.StateName</a>
                </p>
            </div>
        </div>
    }
</div>
<h1 class="text-center"><a class="btn btn-success" asp-action="ViewAllClub">View All Club</a></h1>